{% extends "base.html" %}
{% block body %}
<!-- works -->
<div>
    <a href="/" class="btn btn-default" >Accueil</a>
    <a href="/" class="btn btn-default" >Tout télécharger</a>
</div>
<div id="works"  class=" clearfix grid"> 
    {% for photo in photos %}
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="data:image/jpeg;base64,{{ photo.base64 }}" alt="{{ photo.name }}"/>
        <figcaption>
            <p><br>
            <a href="data:image/jpeg;base64,{{ photo.base_64 }}" title="{{ photo.name }}" data-gallery>Agrandir</a>
            <a href="data:image/jpeg;base64,{{ photo.base_64 }}" download="{{ photo.name }}">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    {% endfor %}
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>
<!-- works -->
{% endblock %}