{% extends "base.html" %}
{% block body %}
<!-- works -->
<div>
    <a href="index.html" class="btn btn-default" >Accueil</a>
    <a href="index.html" class="btn btn-default" >Tout télécharger</a>
</div>
<div id="works"  class=" clearfix grid"> 
    
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/1.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/1.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/1.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/2.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/2.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/2.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/3.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/3.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/3.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/4.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/4.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/4.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/5.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/5.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/5.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/6.jpg" alt="img01"/>
        <figcaption>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/6.jpg" title="Photo numéro 1" data-gallery>Agrandir</a>
            <a href="images/portfolio/6.jpg" download="1.jpg">Télécharger</a>
            </p>            
        </figcaption>
    </figure>




</div>
<!-- works -->
{% endblock %}